<%= render 'spree/shared/error_messages', :target => @inquiry %>
<div id="contact_form">
  <%= form_for(@inquiry) do |f| %>
      <p>
          <%= f.label :name, t(:contact_name) %><span class="required">*</span><br/>
          <%= f.text_field :name %>
      </p>
      <p>
          <%= f.label :email, t(:contact_email) %><span class="required">*</span><br/>
          <%= f.text_field :email %>
      </p>
      <p>
          <%= f.label :phone_number, t(:contact_phone_number) %><br/>
          <%= f.text_field :phone_number %>
      </p>
      <p>
          <%= f.label :inquiry_type, t(:inquiry_type) %><br/>
          <%= f.select :inquiry_type, options_for_select(inquiry_types_translated) %>
      </p>
      <p>
          <%= f.label :order_no, t(:inquiry_order_no) %><br/>
          <%= f.text_field :order_no %>
      </p>
      <p>
          <%= f.label :message, t(:inquiry_message) %> <span class="required">*</span><br/>
          <%= f.text_area :message, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
      </p>
    <% if Spree::ContactUsConfiguration[:use_captcha] && Spree::ContactUsConfiguration[:recaptcha_public_key] %>
      <%= recaptcha_tags(
            :public_key => Spree::ContactUsConfiguration[:recaptcha_public_key],
            :display    => {:theme => Spree::ContactUsConfiguration[:recaptcha_theme]}
          )
      %>
    <% end %>
    <% if Spree::ContactUsConfiguration[:use_honeypot] %>
        <div class="inquiry_honey">
            <%= t('honeypot.please_leave_blank') %><input name="honey" value="" />
        </div>
    <% end %>
    <br/>
    <%= f.submit t(:send_inquiry) %>
  <% end %>
</div>
