<%= render 'spree/shared/error_messages', :target => @inquiry %>

<div class="contact_form">
  <%= form_for(@inquiry) do |f| %>
    <%= f.field_container :name do %>
      <%= f.label :name, t(:contact_name) %><span class="required">*</span>
      <%= f.text_field :name %>
    <% end %>
    <%= f.field_container :email do %>
      <%= f.label :email, t(:contact_email) %><span class="required">*</span>
      <%= f.text_field :email %>
    <% end %>
    <%= f.field_container :phone_number do %>
      <%= f.label :phone_number, t(:contact_phone_number) %>
      <%= f.text_field :phone_number %>
    <% end %>    
    <%= f.field_container :inquiry_type do %>
      <%= f.label :inquiry_type, t(:inquiry_type) %>
      <%= f.select :inquiry_type, options_for_select(inquiry_types_translated), :include_blank => t(:please_select) %>
    <% end %>
    <%= f.field_container :order_no do %>
      <%= f.label :name, t(:inquiry_order_no) %>
      <%= f.text_field :order_no %>
    <% end %>
    <%= f.field_container :message do %>
      <%= f.label :message, t(:inquiry_message) %> <span class="required">*</span>
      <%= f.text_area :message, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
    <% end %>    
    <%= show_simple_captcha if Spree::Config[:use_captcha] %>
    <%= f.submit t(:send_inquiry) %>
  <% end %>
</div>
