<%= render 'spree/shared/error_messages', :target => @inquiry %>
<div id="contact_form">
  <%= form_for(@inquiry) do |f| %>
    <%= f.field_container :name do %>
      <%= f.label :name, t(:contact_name) %><span class="required">*</span><br/>
      <%= f.text_field :name %>
    <% end %>
    <%= f.field_container :email do %>
      <%= f.label :email, t(:contact_email) %><span class="required">*</span><br/>
      <%= f.text_field :email %>
    <% end %>
    <%= f.field_container :phone_number do %>
      <%= f.label :phone_number, t(:contact_phone_number) %><br/>
      <%= f.text_field :phone_number %>
    <% end %>
    <%= f.field_container :inquiry_type do %>
      <%= f.label :inquiry_type, t(:inquiry_type) %><br/>
      <%= f.select :inquiry_type, options_for_select(inquiry_types_translated) %>
    <% end %>
    <%= f.field_container :order_no do %>
      <%= f.label :order_no, t(:inquiry_order_no) %><br/>
      <%= f.text_field :order_no %>
    <% end %>
    <%= f.field_container :message do %>
      <%= f.label :message, t(:inquiry_message) %> <span class="required">*</span><br/>
      <%= f.text_area :message, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
    <% end %>
    <% if Spree::ContactUsConfiguration[:use_captcha] %>
      <%= recaptcha_tags(
            :public_key => Spree::ContactUsConfiguration[:recaptcha_public_key],
            :display    => {:theme => Spree::ContactUsConfiguration[:recaptcha_theme]}
          )
      %>
    <% end %>
    <br/>
    <%= f.submit t(:send_inquiry) %>
  <% end %>
</div>