<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t(:inquiry_settings) %></h1>

<%= form_tag(admin_inquiry_settings_path, :method => :put) do %>
  <fieldset>
    <legend><%= Spree.t('honeypot.name') %></legend>
    <p>
      <%= Spree.t('honeypot.description') %>
      <br/>
      <label><%= Spree.t('honeypot.enable') %>:</label>
      <%= check_box_tag('captcha[use_honeypot]', "1", Spree::ContactUsConfiguration[:use_honeypot]) %>
    </p>
  </fieldset>
  <fieldset>
    <legend><%= Spree.t(:recaptcha) %></legend>
    <p>
      <a href="http://code.google.com/apis/recaptcha/">reCAPTCHA</a> <%= Spree.t(:recaptcha_description) %>
      <br/><br/>
      <label><%= Spree.t(:use_captcha) %>:</label>
      <%= check_box_tag('captcha[use_captcha]', "1", Spree::ContactUsConfiguration[:use_captcha]) %>
    </p>
    <p>
      <label><%= Spree.t(:recaptcha_public_key) %>:</label>
      <%= text_field_tag('captcha[recaptcha_public_key]', Spree::ContactUsConfiguration[:recaptcha_public_key]) %>
      <a href="http://www.google.com/recaptcha/whyrecaptcha"><%= Spree.t(:get_api_key) %></a>
    </p>
    <p>
      <label><%= Spree.t(:recaptcha_private_key) %>:</label>
      <%= text_field_tag('captcha[recaptcha_private_key]', Spree::ContactUsConfiguration[:recaptcha_private_key]) %>
    </p>
    <p>
      <label><%= Spree.t(:recaptcha_theme) %>:</label>
      <%= select_tag('captcha[recaptcha_theme]', options_for_select([['red', 'red'],['white','white'],['blackglass','blackglass'],['clean','clean']], [Spree::ContactUsConfiguration[:recaptcha_theme]])) %>
      <a href="http://code.google.com/apis/recaptcha/docs/customization.html"><%= Spree.t(:view_themes) %></a>
    </p>
  </fieldset>
  <fieldset>
    <legend><%= Spree.t(:inquiry_types) %></legend>
    <p>
      <label><%= Spree.t(:inquiry_types) %></label>
      <%= text_field_tag('inquiry_types', Spree::ContactUsConfiguration[:inquiry_types].join(', ')) %>
    </p>
  </fieldset>
  <p class="form-buttons">
    <%= button Spree.t('update') %>
    <%= Spree.t("or") %> <%= link_to Spree.t("cancel"), admin_inquiry_settings_url %>
  </p>
<% end %>
