<h3>Inquiry submitted at <%= I18n.l @inquiry.created_at %></h3>
<p>
  <strong><%= t(:name) %>:</strong> <%= @inquiry.name %>
</p>
<p>
  <strong><%= t(:email) %>:</strong> <%= mail_to "#{@inquiry.name} <#{@inquiry.email}>", @inquiry.email %>
</p>
<% unless @inquiry.phone_number.blank? %>
<p>
  <strong><%= t(:phone_number) %>:</strong> <%= @inquiry.phone_number %>
</p>
<% end %>
<p>
  <strong><%= t(:type) %>:</strong> <%= @inquiry.inquiry_type %>
</p>
<% unless @inquiry.order_no.blank? %>
<p>
  <strong><%= t(:order) %>:</strong> <%= @inquiry.order_no %>
</p>
<% end %>
<p>
  <strong><%= t(:message) %>:</strong> <%= h @inquiry.message %>
</p>

<p>
  <strong><%= t(:ip_address) %>:</strong> <%= h @inquiry.http_remote_addr %>
</p>
<p>
  <strong><%= t(:user_agent) %>:</strong> <%= h @inquiry.http_user_agent %>
</p>
<p>
  <%= link_to t(:back), collection_url %> |
  <%= link_to t(:delete), object_url, :confirm => t(:are_you_sure_delete), :method => :delete %>
</p>
